body {
    background-color:  #F5F5F5;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 5px solid #800020;
   

  }
/* Desktop styles */
@media (min-width: 769px) {
  .main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #800000;
    color: #fff;
  }
  .main-header h1 {
    font-size: 2rem;
    margin: 0;
  }
  .icon-link{
    size: 1.5rem;
    color: #f1f1f1;
  }
  .icon-link:hover {
    background-color: blue;
    color: orangered;
  }
  
 
  .hero-pic {
    margin-top: 50px;
    text-align: center;
  }
  .hero-pic img {
    display: inline-block;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  .hero-pic  {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  label {
    background-color: #800000;
    color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
  }
  
  input[type="text"] {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
  }
  table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    padding: 10px;
    text-align: center;
    border: 2px solid #800000;
  }
  th {
    background-color: #800000;
    color: #fff;
  }
  tr:nth-child(even) {
    background-color: lightpink;
  }
  input[type="text"] {
    color: red;
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .urology {
    width: 100%;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .main-header {
    background-color: #800000;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  .main-header h1 {
    flex: 1 1 100%;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  .icon-link{
    size: 1.5rem;
    color: #f1f1f1;
  }
  .icon-link:hover {
    background-color: blue;
    color: orangered;
  }

  .hero-pic {
    margin: 20px auto;
  }
  .hero-pic img {
    display: block;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .hero-pic h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  label {
    background-color: #800000;
    color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
  }
  
  input[type="text"] {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.25rem;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
  }
  
  table {
    margin:20px 0;
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
  }
  thead {
    background-color: #800000;
  }
  th {
    color: #fff;
    font-weight: bold;
  }
  tbody {
    background-color: #f1f1f1;
  }
  tr:nth-child(even) {
    background-color: #dcdcdc;
  }
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    color: red;
    word-wrap: break-word;
}
.urology {
  background-color: black;
  color: white;
  font-family: serif;
  text-align: center;
  padding: 20px;
  margin: auto;
  width: 80%;
}

}
